* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Lato', sans-serif;
    color: #666;
    height: 100%;
    
    
}

.background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    min-height: 100%;
    background-position: center;
    background-attachment: fixed;
}

.background-image1 {
    background-image: url(./img/bg.jpg);
    height: 100%;
}

.background-image2{
    background-image: url(./img/bg2.jpg);
}

.background-image3{
    background-image: url(./img/bg3.jpg);
}

.background-image4{
    background-image: url(./img/bg4.jpg);
}
.background-image5{
    background-image: url(./img/bg1.jpg);
}

.clarusway, .way, .team, .choose{
    color: white;
    font-size: 3rem;
    background-color: black;
    padding: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    outline: 0.3rem inset purple;
    outline-offset: 0.5rem;
    
}
.section { 
    text-align: center;
    padding: 3rem 5rem;
    font-size: 1.1rem;
}
.section-fullstack, .section-data {
    background-color: rgb(241, 241, 241);
    color: #666;

}
.section-aws, .section-why {
    background-color: #282e34;
    color: #ddd;
}
.imgcrw {
    text-align: center;
    font-size: 3rem;
}